@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Gerar autenticação de dois fatores(2FA) Código de recuperaçãos";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Coloque esses códigos em um lugar seguro.</strong>
    </p>
    <p>
        Se perder o seu dispositivo e não tiver o Código de recuperação, perderá o acesso à sua conta.
    </p>
    <p>
        A geração de novos Códigos de recuperação não altera as chaves utilizadas nos aplicativos autenticadores. Se você deseja alterar a chave
        usada em um aplicativo autenticador, você deve <a asp-page="./ResetAuthenticator">redefinir suas chaves do autenticador.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Gerar Código de recuperação</button>
    </form>
</div>